Node-Red_Dashboard.json
[
    {
        "id": "9da94ae86f1c6ba4",
        "type": "tab",
        "label": "DashboardSmartHome",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4796086cb381dfa",
        "type": "mqtt in",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "d71ce58b2407ea98",
                "5c29b504143a1dbd"
            ]
        ]
    },
    {
        "id": "d71ce58b2407ea98",
        "type": "debug",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "ec41b484e095ce8c",
        "type": "debug",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "97b541c085b9b849",
        "type": "mqtt in",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 100,
        "wires": [
            [
                "ec41b484e095ce8c",
                "53523552e070cb95"
            ]
        ]
    },
    {
        "id": "ed944a84e235ab40",
        "type": "ui_button",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "group": "06557fe02e4c8820",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn light On",
        "tooltip": "Turns the light on",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "IoTlab/light",
        "topicType": "msg",
        "x": 470,
        "y": 700,
        "wires": [
            [
                "0cbac9df34706421"
            ]
        ]
    },
    {
        "id": "00813127bdaacd5b",
        "type": "ui_button",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "group": "06557fe02e4c8820",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn light Off",
        "tooltip": "Turns the light Off",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "IoTlab/light",
        "topicType": "msg",
        "x": 470,
        "y": 740,
        "wires": [
            [
                "0cbac9df34706421"
            ]
        ]
    },
    {
        "id": "5c29b504143a1dbd",
        "type": "ui_gauge",
        "z": "9da94ae86f1c6ba4",
        "name": "Temperature Gauge",
        "group": "5d79457539c51f7d",
        "order": 0,
        "width": "6",
        "height": "10",
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": "-20",
        "max": "35",
        "colors": [
            "#0037ff",
            "#ffffff",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 940,
        "y": 180,
        "wires": []
    },
    {
        "id": "53523552e070cb95",
        "type": "ui_gauge",
        "z": "9da94ae86f1c6ba4",
        "name": "Humidity Gauge",
        "group": "5d79457539c51f7d",
        "order": 1,
        "width": "7",
        "height": "10",
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 920,
        "y": 100,
        "wires": []
    },
    {
        "id": "0cbac9df34706421",
        "type": "mqtt out",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c33d56931cbc3e0",
        "x": 910,
        "y": 720,
        "wires": []
    },
    {
        "id": "596ea18f4d9ff166",
        "type": "mqtt out",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/temperature_desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c33d56931cbc3e0",
        "x": 960,
        "y": 460,
        "wires": []
    },
    {
        "id": "0b24bd68bc99d89d",
        "type": "debug",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "14e55efdee72a025",
        "type": "ui_text_input",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "label": "Temperature threshold",
        "tooltip": "Changes the threshold",
        "group": "5d79457539c51f7d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "1000",
        "topic": "IoTlab/temperature_desired",
        "topicType": "msg",
        "x": 500,
        "y": 460,
        "wires": [
            [
                "0b24bd68bc99d89d",
                "596ea18f4d9ff166"
            ]
        ]
    },
    {
        "id": "376f122050637a93",
        "type": "mqtt out",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/light_desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c33d56931cbc3e0",
        "x": 940,
        "y": 560,
        "wires": []
    },
    {
        "id": "c7fe8d46dd8dd1e4",
        "type": "debug",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "f4efacf24882424a",
        "type": "ui_text_input",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "label": "Light threshold",
        "tooltip": "Changes the threshold of light",
        "group": "5d79457539c51f7d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "1000",
        "topic": "IoTlab/temperature_desired",
        "topicType": "msg",
        "x": 480,
        "y": 560,
        "wires": [
            [
                "c7fe8d46dd8dd1e4",
                "376f122050637a93"
            ]
        ]
    },
    {
        "id": "1ac005799d717d0b",
        "type": "debug",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "afb39ea6eeb78014",
        "type": "mqtt in",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/light_intensity",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "1ac005799d717d0b",
                "19250da3a0a50650"
            ]
        ]
    },
    {
        "id": "19250da3a0a50650",
        "type": "ui_gauge",
        "z": "9da94ae86f1c6ba4",
        "name": "Light Level",
        "group": "5d79457539c51f7d",
        "order": 1,
        "width": "7",
        "height": "10",
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#000000",
            "#8c8c8c",
            "#ffffff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "3c33d56931cbc3e0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "06557fe02e4c8820",
        "type": "ui_group",
        "name": "ButtonGroup",
        "tab": "db29f39ab6f92a6e",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false
    },
    {
        "id": "5d79457539c51f7d",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "db29f39ab6f92a6e",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false
    },
    {
        "id": "db29f39ab6f92a6e",
        "type": "ui_tab",
        "name": "Smart Home Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]