Node-Red_Dashboard.json
[
    {
        "id": "9da94ae86f1c6ba4",
        "type": "tab",
        "label": "DashboardSmartHome",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4796086cb381dfa",
        "type": "mqtt in",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 160,
        "wires": [
            [
                "d71ce58b2407ea98",
                "617a3ce6fdb9de37"
            ]
        ]
    },
    {
        "id": "d71ce58b2407ea98",
        "type": "debug",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 160,
        "wires": []
    },
    {
        "id": "ec41b484e095ce8c",
        "type": "debug",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "97b541c085b9b849",
        "type": "mqtt in",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "ec41b484e095ce8c",
                "692a584406fbcfa0"
            ]
        ]
    },
    {
        "id": "617a3ce6fdb9de37",
        "type": "ui_gauge",
        "z": "9da94ae86f1c6ba4",
        "name": "Temperature Gauge",
        "group": "5d79457539c51f7d",
        "order": 0,
        "width": "10",
        "height": "10",
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": "-20",
        "max": "35",
        "colors": [
            "#0037ff",
            "#ffffff",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1380,
        "y": 220,
        "wires": []
    },
    {
        "id": "692a584406fbcfa0",
        "type": "ui_gauge",
        "z": "9da94ae86f1c6ba4",
        "name": "Humidity Gauge",
        "group": "5d79457539c51f7d",
        "order": 1,
        "width": "10",
        "height": "10",
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "0cbac9df34706421",
        "type": "mqtt out",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c33d56931cbc3e0",
        "x": 1010,
        "y": 360,
        "wires": []
    },
    {
        "id": "ce67149792ae1827",
        "type": "ui_button",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "group": "06557fe02e4c8820",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn light On",
        "tooltip": "Turns the light on",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "IoTlab/light",
        "topicType": "msg",
        "x": 850,
        "y": 320,
        "wires": [
            [
                "0cbac9df34706421"
            ]
        ]
    },
    {
        "id": "354e2d1daab4b981",
        "type": "ui_button",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "group": "06557fe02e4c8820",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn light Off",
        "tooltip": "Turns the light Off",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "IoTlab/light",
        "topicType": "msg",
        "x": 850,
        "y": 400,
        "wires": [
            [
                "0cbac9df34706421"
            ]
        ]
    },
    {
        "id": "3c33d56931cbc3e0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5d79457539c51f7d",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "db29f39ab6f92a6e",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false
    },
    {
        "id": "06557fe02e4c8820",
        "type": "ui_group",
        "name": "ButtonGroup",
        "tab": "db29f39ab6f92a6e",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false
    },
    {
        "id": "db29f39ab6f92a6e",
        "type": "ui_tab",
        "name": "Smart Home Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]