Node-Red/Node-Red_Dashboard.json
[
    {
        "id": "9da94ae86f1c6ba4",
        "type": "tab",
        "label": "DashboardSmartHome",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4796086cb381dfa",
        "type": "mqtt in",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "d71ce58b2407ea98",
                "5c29b504143a1dbd"
            ]
        ]
    },
    {
        "id": "d71ce58b2407ea98",
        "type": "debug",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "ec41b484e095ce8c",
        "type": "debug",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "97b541c085b9b849",
        "type": "mqtt in",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "ec41b484e095ce8c",
                "53523552e070cb95"
            ]
        ]
    },
    {
        "id": "ed944a84e235ab40",
        "type": "ui_button",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "group": "06557fe02e4c8820",
        "order": 2,
        "width": "15",
        "height": 1,
        "passthru": false,
        "label": "Turn light On",
        "tooltip": "Turns the light on",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "IoTlab/light",
        "topicType": "msg",
        "x": 810,
        "y": 260,
        "wires": [
            [
                "0cbac9df34706421"
            ]
        ]
    },
    {
        "id": "00813127bdaacd5b",
        "type": "ui_button",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "group": "06557fe02e4c8820",
        "order": 4,
        "width": "15",
        "height": 1,
        "passthru": false,
        "label": "Turn light Off",
        "tooltip": "Turns the light Off",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "IoTlab/light",
        "topicType": "msg",
        "x": 810,
        "y": 360,
        "wires": [
            [
                "0cbac9df34706421"
            ]
        ]
    },
    {
        "id": "5c29b504143a1dbd",
        "type": "ui_gauge",
        "z": "9da94ae86f1c6ba4",
        "name": "Temperature Gauge",
        "group": "5d79457539c51f7d",
        "order": 1,
        "width": 10,
        "height": 7,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": "-20",
        "max": "35",
        "colors": [
            "#0037ff",
            "#ffffff",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "53523552e070cb95",
        "type": "ui_gauge",
        "z": "9da94ae86f1c6ba4",
        "name": "Humidity Gauge",
        "group": "5d79457539c51f7d",
        "order": 2,
        "width": 10,
        "height": 7,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "0cbac9df34706421",
        "type": "mqtt out",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c33d56931cbc3e0",
        "x": 1250,
        "y": 320,
        "wires": []
    },
    {
        "id": "596ea18f4d9ff166",
        "type": "mqtt out",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/temperature_desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c33d56931cbc3e0",
        "x": 940,
        "y": 520,
        "wires": []
    },
    {
        "id": "14e55efdee72a025",
        "type": "ui_text_input",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "label": "Temperature threshold",
        "tooltip": "Changes the temperature threshold",
        "group": "751430cd5e819a2c",
        "order": 1,
        "width": "10",
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": "3000",
        "topic": "IoTlab/temperature_desired",
        "topicType": "msg",
        "x": 480,
        "y": 520,
        "wires": [
            [
                "596ea18f4d9ff166",
                "0b24bd68bc99d89d"
            ]
        ]
    },
    {
        "id": "376f122050637a93",
        "type": "mqtt out",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/light_desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c33d56931cbc3e0",
        "x": 920,
        "y": 640,
        "wires": []
    },
    {
        "id": "c7fe8d46dd8dd1e4",
        "type": "debug",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "f4efacf24882424a",
        "type": "ui_text_input",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "label": "Light threshold",
        "tooltip": "Changes the threshold of light",
        "group": "751430cd5e819a2c",
        "order": 3,
        "width": "10",
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "1000",
        "topic": "IoTlab/temperature_desired",
        "topicType": "msg",
        "x": 460,
        "y": 640,
        "wires": [
            [
                "c7fe8d46dd8dd1e4",
                "376f122050637a93"
            ]
        ]
    },
    {
        "id": "1ac005799d717d0b",
        "type": "debug",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 360,
        "wires": []
    },
    {
        "id": "afb39ea6eeb78014",
        "type": "mqtt in",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/light_intensity",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "1ac005799d717d0b",
                "3230e8360f414313"
            ]
        ]
    },
    {
        "id": "578018877c5e2075",
        "type": "debug",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 140,
        "wires": []
    },
    {
        "id": "baff33ef52028e1c",
        "type": "mqtt in",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/received_email",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 140,
        "wires": [
            [
                "578018877c5e2075"
            ]
        ]
    },
    {
        "id": "e86aca02df7b0697",
        "type": "ui_text",
        "z": "9da94ae86f1c6ba4",
        "group": "aceddb58673c05c4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Title Text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "0cb7f07e671f59cb",
        "type": "mqtt in",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/current_user",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "e86aca02df7b0697"
            ]
        ]
    },
    {
        "id": "3230e8360f414313",
        "type": "ui_gauge",
        "z": "9da94ae86f1c6ba4",
        "name": "Light Gauge",
        "group": "5d79457539c51f7d",
        "order": 3,
        "width": 10,
        "height": 7,
        "gtype": "gage",
        "title": "Light",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#000000",
            "#ffff00",
            "#ffffff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "6cfcc07d2d5b4c74",
        "type": "mqtt in",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/current_user_notification",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "592d09a68179baaa"
            ]
        ]
    },
    {
        "id": "592d09a68179baaa",
        "type": "ui_toast",
        "z": "9da94ae86f1c6ba4",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "New User",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "50c9247a2bb36678",
        "type": "ui_text",
        "z": "9da94ae86f1c6ba4",
        "group": "751430cd5e819a2c",
        "order": 2,
        "width": "10",
        "height": "1",
        "name": "Spacer",
        "label": "",
        "format": "",
        "layout": "row-center",
        "x": 440,
        "y": 580,
        "wires": []
    },
    {
        "id": "56192cccf0150e47",
        "type": "mqtt in",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/user_temperature_threshold",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "14e55efdee72a025"
            ]
        ]
    },
    {
        "id": "e591fa0054145a31",
        "type": "mqtt in",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "topic": "IoTlab/user_light_threshold",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 640,
        "wires": [
            [
                "f4efacf24882424a"
            ]
        ]
    },
    {
        "id": "0b24bd68bc99d89d",
        "type": "debug",
        "z": "9da94ae86f1c6ba4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 480,
        "wires": []
    },
    {
        "id": "3c33d56931cbc3e0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "06557fe02e4c8820",
        "type": "ui_group",
        "name": "Light Buttons",
        "tab": "db29f39ab6f92a6e",
        "order": 6,
        "disp": false,
        "width": 30,
        "collapse": false
    },
    {
        "id": "5d79457539c51f7d",
        "type": "ui_group",
        "name": "Gauges",
        "tab": "db29f39ab6f92a6e",
        "order": 2,
        "disp": false,
        "width": 30,
        "collapse": false
    },
    {
        "id": "751430cd5e819a2c",
        "type": "ui_group",
        "name": "Thresholds",
        "tab": "db29f39ab6f92a6e",
        "order": 3,
        "disp": false,
        "width": 30,
        "collapse": false
    },
    {
        "id": "aceddb58673c05c4",
        "type": "ui_group",
        "name": "Title",
        "tab": "db29f39ab6f92a6e",
        "order": 1,
        "disp": false,
        "width": 30,
        "collapse": false
    },
    {
        "id": "db29f39ab6f92a6e",
        "type": "ui_tab",
        "name": "Smart Home Dashboard",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]