Node-Red/Node-Red_Dashboard.json
[
    {
        "id": "52f53edf5237f2ef",
        "type": "tab",
        "label": "DashboardSmartHome",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b292be6cf7813f36",
        "type": "mqtt in",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "2e59bf888b72a5e7",
                "f8ea95f0c1b4e146"
            ]
        ]
    },
    {
        "id": "2e59bf888b72a5e7",
        "type": "debug",
        "z": "52f53edf5237f2ef",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "10952634d712294b",
        "type": "debug",
        "z": "52f53edf5237f2ef",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "bd74c090c5945e20",
        "type": "mqtt in",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "10952634d712294b",
                "803cfe7d4d476222"
            ]
        ]
    },
    {
        "id": "d263ecec379544b2",
        "type": "ui_button",
        "z": "52f53edf5237f2ef",
        "name": "",
        "group": "06557fe02e4c8820",
        "order": 2,
        "width": "15",
        "height": 1,
        "passthru": false,
        "label": "Turn light On",
        "tooltip": "Turns the light on",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "IoTlab/light",
        "topicType": "msg",
        "x": 810,
        "y": 220,
        "wires": [
            [
                "4872989a9a562c3d"
            ]
        ]
    },
    {
        "id": "f8ea95f0c1b4e146",
        "type": "ui_gauge",
        "z": "52f53edf5237f2ef",
        "name": "Temperature Gauge",
        "group": "5d79457539c51f7d",
        "order": 1,
        "width": "10",
        "height": 7,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": "-20",
        "max": "35",
        "colors": [
            "#0037ff",
            "#ffffff",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "803cfe7d4d476222",
        "type": "ui_gauge",
        "z": "52f53edf5237f2ef",
        "name": "Humidity Gauge",
        "group": "5d79457539c51f7d",
        "order": 2,
        "width": "10",
        "height": "7",
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "4872989a9a562c3d",
        "type": "mqtt out",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c33d56931cbc3e0",
        "x": 1250,
        "y": 280,
        "wires": []
    },
    {
        "id": "1d744cb4b735a211",
        "type": "debug",
        "z": "52f53edf5237f2ef",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 360,
        "wires": []
    },
    {
        "id": "bde05652418167c1",
        "type": "mqtt in",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/light_intensity",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "1d744cb4b735a211",
                "b3c16cb53a9df50e"
            ]
        ]
    },
    {
        "id": "5fe13f8392ff38cf",
        "type": "debug",
        "z": "52f53edf5237f2ef",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 140,
        "wires": []
    },
    {
        "id": "d26990bff67cabdb",
        "type": "mqtt in",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/received_email",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 140,
        "wires": [
            [
                "5fe13f8392ff38cf"
            ]
        ]
    },
    {
        "id": "df416647c9a5d689",
        "type": "ui_text",
        "z": "52f53edf5237f2ef",
        "group": "82c633584d5f3bdf",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Title Text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "63f956c5d7aab166",
        "type": "mqtt in",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/current_user",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "df416647c9a5d689"
            ]
        ]
    },
    {
        "id": "b3c16cb53a9df50e",
        "type": "ui_gauge",
        "z": "52f53edf5237f2ef",
        "name": "Light Gauge",
        "group": "5d79457539c51f7d",
        "order": 3,
        "width": "10",
        "height": 7,
        "gtype": "gage",
        "title": "Light",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#000000",
            "#ffff00",
            "#ffffff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "1269860e8682221a",
        "type": "mqtt in",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/current_user_notification",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "8f2e50ccff850e0c"
            ]
        ]
    },
    {
        "id": "8f2e50ccff850e0c",
        "type": "ui_toast",
        "z": "52f53edf5237f2ef",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "New User",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "54d4338fe70161bb",
        "type": "ui_text",
        "z": "52f53edf5237f2ef",
        "group": "4fe1f2adfa81ad28",
        "order": 2,
        "width": "10",
        "height": "2",
        "name": "Spacer",
        "label": "",
        "format": "",
        "layout": "row-center",
        "x": 440,
        "y": 580,
        "wires": []
    },
    {
        "id": "adf7f847220f65da",
        "type": "mqtt out",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/light_desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c33d56931cbc3e0",
        "x": 910,
        "y": 640,
        "wires": []
    },
    {
        "id": "fcf078cc661f4fe9",
        "type": "debug",
        "z": "52f53edf5237f2ef",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "36acff2e32c03b92",
        "type": "mqtt in",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/user_light_threshold",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "ecac60af54c6bd45"
            ]
        ]
    },
    {
        "id": "ecac60af54c6bd45",
        "type": "ui_text_input",
        "z": "52f53edf5237f2ef",
        "name": "",
        "label": "Light threshold",
        "tooltip": "Changes the threshold of light",
        "group": "4fe1f2adfa81ad28",
        "order": 3,
        "width": "10",
        "height": "2",
        "passthru": true,
        "mode": "text",
        "delay": "1000",
        "topic": "IoTlab/temperature_desired",
        "topicType": "msg",
        "x": 460,
        "y": 640,
        "wires": [
            [
                "fcf078cc661f4fe9",
                "adf7f847220f65da"
            ]
        ]
    },
    {
        "id": "981e83bb743ac7bb",
        "type": "mqtt out",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/temperature_desired",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c33d56931cbc3e0",
        "x": 940,
        "y": 520,
        "wires": []
    },
    {
        "id": "69dc074287e5d112",
        "type": "ui_text_input",
        "z": "52f53edf5237f2ef",
        "name": "",
        "label": "Temperature threshold",
        "tooltip": "Changes the temperature threshold",
        "group": "4fe1f2adfa81ad28",
        "order": 1,
        "width": "10",
        "height": "2",
        "passthru": false,
        "mode": "text",
        "delay": "3000",
        "topic": "IoTlab/temperature_desired",
        "topicType": "msg",
        "x": 480,
        "y": 520,
        "wires": [
            [
                "981e83bb743ac7bb",
                "054ea8fbd2d68c99"
            ]
        ]
    },
    {
        "id": "e23f4aafae8983ef",
        "type": "mqtt in",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/user_temperature_threshold",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "69dc074287e5d112"
            ]
        ]
    },
    {
        "id": "054ea8fbd2d68c99",
        "type": "debug",
        "z": "52f53edf5237f2ef",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 480,
        "wires": []
    },
    {
        "id": "07fe86f4eeb2db49",
        "type": "mqtt out",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/desired_rssi",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c33d56931cbc3e0",
        "x": 1250,
        "y": 800,
        "wires": []
    },
    {
        "id": "4532e7a9d995fd87",
        "type": "ui_text_input",
        "z": "52f53edf5237f2ef",
        "name": "",
        "label": "RSSI threshold",
        "tooltip": "",
        "group": "aa4cbd59a2cf1bb0",
        "order": 5,
        "width": "10",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "1000",
        "topic": "IoTlab/desired_rssi",
        "topicType": "msg",
        "x": 800,
        "y": 800,
        "wires": [
            [
                "de6058c96a241945",
                "07fe86f4eeb2db49"
            ]
        ]
    },
    {
        "id": "de6058c96a241945",
        "type": "debug",
        "z": "52f53edf5237f2ef",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 740,
        "wires": []
    },
    {
        "id": "5a10e08a1671c058",
        "type": "ui_text",
        "z": "52f53edf5237f2ef",
        "group": "aa4cbd59a2cf1bb0",
        "order": 4,
        "width": "10",
        "height": "1",
        "name": "Spacer",
        "label": "",
        "format": "",
        "layout": "row-center",
        "x": 440,
        "y": 580,
        "wires": []
    },
    {
        "id": "8a9307b0ddce5d5c",
        "type": "ui_text",
        "z": "52f53edf5237f2ef",
        "group": "aa4cbd59a2cf1bb0",
        "order": 1,
        "width": "10",
        "height": "1",
        "name": "Spacer",
        "label": "",
        "format": "",
        "layout": "row-center",
        "x": 440,
        "y": 580,
        "wires": []
    },
    {
        "id": "98e2ea2984944e11",
        "type": "ui_text",
        "z": "52f53edf5237f2ef",
        "group": "aa4cbd59a2cf1bb0",
        "order": 2,
        "width": "10",
        "height": "1",
        "name": "Bluetooth Counter",
        "label": "Number of Bluetooth devices: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 470,
        "y": 780,
        "wires": []
    },
    {
        "id": "cdd5e911a2f42ba9",
        "type": "mqtt in",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/light_intensity",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2f5ea362ea80a971",
        "type": "mqtt in",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/bluetooth_information",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c33d56931cbc3e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 780,
        "wires": [
            [
                "c7905ac0453119b3",
                "98e2ea2984944e11"
            ]
        ]
    },
    {
        "id": "c7905ac0453119b3",
        "type": "debug",
        "z": "52f53edf5237f2ef",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 720,
        "wires": []
    },
    {
        "id": "afed4e6295d8519e",
        "type": "ui_text",
        "z": "52f53edf5237f2ef",
        "group": "aa4cbd59a2cf1bb0",
        "order": 6,
        "width": "10",
        "height": "1",
        "name": "Spacer",
        "label": "",
        "format": "",
        "layout": "row-center",
        "x": 440,
        "y": 580,
        "wires": []
    },
    {
        "id": "8ea5636f8d8f3047",
        "type": "ui_text",
        "z": "52f53edf5237f2ef",
        "group": "aa4cbd59a2cf1bb0",
        "order": 3,
        "width": "10",
        "height": "1",
        "name": "Spacer",
        "label": "",
        "format": "",
        "layout": "row-center",
        "x": 440,
        "y": 580,
        "wires": []
    },
    {
        "id": "8c6e55fbef572106",
        "type": "mqtt out",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c33d56931cbc3e0",
        "x": 1250,
        "y": 280,
        "wires": []
    },
    {
        "id": "e5fd336236e81ce5",
        "type": "ui_button",
        "z": "52f53edf5237f2ef",
        "name": "",
        "group": "06557fe02e4c8820",
        "order": 4,
        "width": "15",
        "height": 1,
        "passthru": false,
        "label": "Turn light Off",
        "tooltip": "Turns the light Off",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "IoTlab/light",
        "topicType": "msg",
        "x": 810,
        "y": 320,
        "wires": [
            [
                "8c6e55fbef572106"
            ]
        ]
    },
    {
        "id": "4da0aadbcd12b455",
        "type": "ui_button",
        "z": "52f53edf5237f2ef",
        "name": "",
        "group": "aa4cbd59a2cf1bb0",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get Bluetooth devices",
        "tooltip": "Gets number of Bluetooth devices near you",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "IoTlab/get_bluetooth",
        "topicType": "msg",
        "x": 840,
        "y": 420,
        "wires": [
            [
                "25ec406fdba5dfb2"
            ]
        ]
    },
    {
        "id": "25ec406fdba5dfb2",
        "type": "mqtt out",
        "z": "52f53edf5237f2ef",
        "name": "",
        "topic": "IoTlab/get_bluetooth",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c33d56931cbc3e0",
        "x": 1280,
        "y": 420,
        "wires": []
    },
    {
        "id": "3c33d56931cbc3e0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "06557fe02e4c8820",
        "type": "ui_group",
        "name": "ButtonGroup",
        "tab": "db29f39ab6f92a6e",
        "order": 6,
        "disp": false,
        "width": "30",
        "collapse": false
    },
    {
        "id": "5d79457539c51f7d",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "db29f39ab6f92a6e",
        "order": 3,
        "disp": false,
        "width": "30",
        "collapse": false
    },
    {
        "id": "82c633584d5f3bdf",
        "type": "ui_group",
        "name": "Title",
        "tab": "db29f39ab6f92a6e",
        "order": 1,
        "disp": false,
        "width": 30,
        "collapse": false
    },
    {
        "id": "4fe1f2adfa81ad28",
        "type": "ui_group",
        "name": "Thresholds",
        "tab": "db29f39ab6f92a6e",
        "order": 4,
        "disp": false,
        "width": 30,
        "collapse": false
    },
    {
        "id": "aa4cbd59a2cf1bb0",
        "type": "ui_group",
        "name": "Bluetooth",
        "tab": "db29f39ab6f92a6e",
        "order": 6,
        "disp": false,
        "width": "30",
        "collapse": false
    },
    {
        "id": "db29f39ab6f92a6e",
        "type": "ui_tab",
        "name": "Smart Home Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]